body {
    height: 100%;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    background-color: red;
    grid-column: 1;
    grid-row: 1 / 3;
    
}

.header {
    background: blue;
    grid-row: 1;
}

.content {
    background: pink;
    grid-column: 2;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px;
    grid-gap: 8px;
}

.projects {
    background: green;
    display: grid;
    text-align: center;
    justify-content: space-between;
    margin: 15px;
    border: solid black;
    width: 100%;
}

.main-right {
    background: chocolate;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    margin: 15px;
}

.menu a {
    display: list-item;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 20px;
}

.about-projects {
    border: solid blue;
    display: flex;
    text-align: center;
    justify-content: center;
}
